body{
        
    padding-top: 0px;
    margin: 0px;
    min-height: 100vh;
    border-left: 25px solid red;
    border-right: 25px solid red;
    box-sizing: border-box;
    background-image: url("./assets/pagina/imagem2.jpeg");
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

* {
    color: white;
    font-family: "Jersey 20", sans-serif;
}

nav{
    display: flex;
    top: 0px;
    background-color: red;
    margin: 0px;
    padding-bottom: 20px;
    left: 0;
    width: 100%;
    z-index: 1000;
    position: fixed;
}

nav img {
    display: flex;
    width: 200px;
    height: auto;
}

.linha-nav {
    position: absolute;

    left: 0;
    bottom: 0;

    width: 100%;
    height: 100px;

    pointer-events: none;
}

.linha-footer {
    position: relative;

    right:-25px;
    bottom: 0;
    margin: 0px;
    width: 100%;
    height: 70px;

    pointer-events: none;
}

footer{
    background-color: red;
    padding-top: 10px;
    display: flex;

}

footer img{
    display: flex;
    width: 60px;
    height: auto;
    margin-bottom: 10px;
}

.sub{
    position: relative;
    top: 25px;
    font-size: 50px;
    margin-left: 400px;
}

.enfi{
    color: black;
}

nav ul{ list-style:none; margin:0; padding:0; display:flex; margin-left: 10px; margin-top: 20px; font-size:70px; } 
nav a{transition: 300ms; color:rgb(0, 0, 0); text-decoration:none; display: flex;} 
nav a:hover{transition: 300ms; color:rgb(255, 255, 255);}

#LOUD{
    padding-top: 120px;
    width: 50vw;
    height: 100vh;
    background-color: rgb(100, 102, 103);
}

#PRX{
    padding-top: 120px;
    width: 50vw;
    height: 100vh;
}
.informacoesGerais{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 2vh;

}
p{
    color: black;
}
.numeroNomeTipo, .alturaPeso{
    display: flex;
    flex-direction: column;
    background-color: #D6D6D6;
    padding: 2vh;
    border-radius: 20px;
    align-items: center;
    font-size: large;
}

.areaStatus{
    display: flex;
    flex-direction: column;
    background-color: #D6D6D6;
    border-radius: 20px;
    align-items: center;
    width: fit-content;
}
main{
    display: flex;
}